# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Environment variables
.env
.env.*
!.env.example

# Python
.venv/
venv/
__pycache__/
*.py[cod]

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/